# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/default/files/*
!sites/default/files/.chown-ignore
!sites/default/files/.htaccess
sites/*/private
