/* Global */

@import url(http://fonts.googleapis.com/css?family=Cantarell);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html {
	font-size: 100%;
	background-color: #111;
}

html body {
	font-family: 'Lucida Sans Unicode', 'Cantarell', 'Lucida Grande', sans-serif;
	font-size: 66%; /* 11px */
	line-height: 1.5em;
}

.inside {
	margin: 0 auto;
	width: 96em;
	overflow: auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

a,
a:link,
a:visited,
a:active
{
	color: #083671;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
