/**
 * @file
 * Navigation Styling
 */

div#menubar {
	color: #FFF;
	background-color: #4884c5;
}

div#menubar div.inside div {
	display: inline
}

div#menubar ul.menu,
div#menubar ul.menu li {
	display: inline;
}

div#menubar div#block-search-form {
	float: right;
}

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  /* overflow: hidden; /* Sometimes you want to prevent overlapping with main div. */
}

#navigation .content ul /* Main menu and secondary menu links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation .content li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu-block {
}

/* Sabayon - Set these to none to override the defaults */
ul.menu li {
  margin: 0;
  display: inline;
}
ul li.expanded {
  list-style-type: none;
  list-style-image: none;
}
ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
  color: #ff0000;
}
.region-bottom {
  color: #ffffff;
  font-size: 1.2em;
}
#block-menu-devel a {
  color: #aaaaaa;
}
