/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
	padding: 1em;
	border-radius: 10px;
	background-color: #eee;
	box-shadow: 0px 2px 1px #bbb;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#eeeeee));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #ffffff, #eeeeee);

	/* IE 10 */
	background: -ms-linear-gradient(top, #ffffff, #eeeeee);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #ffffff, #eeeeee);

}

.node_detail {
	/*width: 25%;
	border-top: 1px dotted #666;
	border-bottom: 1px dotted #666;*/
	border-radius: 5px;
	clear: right;
	margin: 0 0 1em 1em;
	float: left;
	overflow: auto;
	font-size: 0.8em;
}

.node_detail .user-picture {
	float: right;
	margin: .5em 1em .5em .5em;
}

.node_detail .user-picture a img,
.node_detail .user-picture img {
	width: 50px;
	height: 50px;
}

.node_detail div.author,
.node_detail div.submitted {
	margin: .5em;
	font-size: 1.1em;
	line-height: 1.3em;
	text-align: right;  
}

.username {
	float: right;
	font-weight: bold;
	font-size: 1.2em;
}

.submitted {
	float: right;
	font-size: 0.6em;
}

span.unix_date {
	font-family: Inconsolata,monospace;
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

h2.node-title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}
