div.node-release {
	
}

.node-release h2 {
	font-size: 3.0em;
}

.field-name-field-release-summary {
	padding-top: 1em;
}

.field-name-field-features {
	padding-top: 1.5em;
}

.field-name-field-download {
	padding-top: 1.5em;
}

.field-name-field-improvements {
	padding-top: 1.5em;
}

.field-name-field-release-file-group {
	padding-top: 1.5em;
}
