/* Lists */
ul.bulletlist li {
	list-style-image: url("../img/bullet.png");
	list-style-position: inside;
	font-size: 1.2em;
	margin: 0.2em 0 0;
}

ul.bulletlist {
	margin-bottom: 1.2em;
}

/* Block */
.block a:active, .block a:visited, .block a:link {
	color: #222222;
	text-decoration: none;
}

.block a:hover {
	text-decoration: underline;
}

/* Top Block */
.top_block {
	color: #FFFFFF;
	float: left;
	position: relative;
	width: 31em;
}

.top_block p {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.35em;
	margin-top: 1em;
}

/* This is the main image, top right */
#slides {
	float: right;
}

/* Front block images */
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
