/* Lists */
.block li, #mid_content li {
	line-height: 1.6em;
	list-style-image: url("../img/bullet.png");
	font-size: 1.2em;
	list-style-position: inside;
}

.block a:active, .block a:visited, .block a:link {
	color: #222222;
	text-decoration: none;
}

.block a:hover {
	text-decoration: underline;
}

/* Top Block */
.top_block {
	color: #FFFFFF;
	float: left;
	position: relative;
	width: 31em;
}

.top_block p {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.35em;
	margin-top: 1em;
}

/* This is the main image, top right */
#slides {
	float: right;
}

/* Front block images */
.col_mid img {
	float: right;
}
