/* Lists */
ul.bulletlist li {
	list-style-image: url("http://static.sabayon.org/site/img/bullet.png");
	list-style-position: inside;
	font-size: 1.2em;
	margin: 0.2em 0 0;
}

ul.bulletlist {
	margin: 1em 0 1.2em 0;
}

/* Block */
.block a:active,
.block a:visited,
.block a:link {
	color: #222222;
	text-decoration: none;
}

.block p a,
.block p a:active,
.block p a:visited,
.block p a:link {
	color: #222222;
	text-decoration: underline;
}

.block a:hover {
	text-decoration: underline;
}

/* Top Block */
.top_block {
	color: #FFFFFF;
	float: right;
	position: relative;
	width: 31em;
}

.top_block p {
	font-size: 1.5em;
	line-height: 1.4em;
	margin-bottom: 0.35em;
	margin-top: 1em;
}

/* This is the main image, top right */
#slides {
	float: left;
	overflow: hidden;
}

#sides div.content {
	overflow: hidden;
}

.front-header {
	padding-top: 2em;
}

/* Front block images */
img.right {
	float: right;
	margin: 0 0 1em 1em;
}

blockquote,
pre {
	display: block;
	width: 100%;
	overflow: scroll;
	padding: 1em;
	margin: 1em, 0;
	background: #222;
	color: #FFF;
	font-size: 1.4em;
	font-family: Inconsolata, monospace;
}
